* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0px;
  margin-top: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}